<template>
  <md-card-content class="md-layout">
    <md-card-content class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
      <form>
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">{{ !isEdit ? "New" : "Edit" }} Role</h4>
            <p class="category">{{ !isEdit ? "Add New" : "Update" }} role</p>
          </md-card-header>

          <md-card-content>
            <div class="md-layout">
              <div class="md-layout-item md-small-size-100 md-size-50">
                <md-field>
                  <label>Name</label>
                  <md-input v-model="role.name" type="text"></md-input>
                </md-field>
              </div>
              <div class="md-layout-item md-small-size-100 md-size-100">
                <md-field>
                  <label>Rights</label>
                  <md-select v-model="role.rights" multiple>
                    <md-option v-bind:key="item.id" v-for="item in $store.getters.getRights" :value="item.id">{{item.name}}</md-option>
                  </md-select>
                </md-field>
              </div>
              <div class="md-layout-item md-size-100 text-right">
                <md-button class="md-raised md-danger" to="/roles">Cancel</md-button>
                <md-button class="padding md-raised md-success" v-on:click="commitRole">Save</md-button>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </form>
    </md-card-content>
  </md-card-content>
</template>
<script>
import store from "@/store/";

export default {
  name: "edit-role-form",

  data() {
    return {
      role:
        this.$route.params.isEdit == "true"
          ? store.getters.getRole(this.$route.params.roleId)
          : {
              name: null,
              rights: []
            },
      isEdit: this.$route.params.isEdit == "true"
    };
  },
  methods: {
    commitRole() {
      store.dispatch(
        this.$route.params.isEdit == "true"
          ? "updateRoleAction"
          : "addRoleAction",
        this.role
      );
      this.$router.push("/roles");
    },
    getRoles() {
      return store.getters.getRoles;
    }
  }
};
</script>
<style>
/*there is a problem with css class of md-select need to check deeply*/
  .md-ripple > span {
    left: 50px !important;
    top: 15px;
  }
</style>
