<template>
  <div class="wrapper">
    <side-bar>
      <sidebar-link to="/user">
        <md-icon>person</md-icon>
        <p>User List</p>
      </sidebar-link>
      <sidebar-link to="/roles">
        <md-icon>library_books</md-icon>
        <p>Roles</p>
      </sidebar-link>
      <sidebar-link to="/rights">
        <md-icon>vpn_key</md-icon>
        <p>Rights</p>
      </sidebar-link>
    </side-bar>

    <div class="main-panel">
      <dashboard-content> </dashboard-content>
    </div>
  </div>
</template>
<style lang="scss"></style>
<script>
import DashboardContent from "./Content.vue";

export default {
  components: {
    DashboardContent
  }
};
</script>
