<template>
  <div>
    <md-table v-model="$store.state.rightModule.rights" :table-header-color="tableHeaderColor">
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Name">{{ item.name }}</md-table-cell>
        <md-table-cell>
          <md-button class="md-just-icon md-simple md-primary" v-on:click="editRight(item)">
            <md-icon>edit</md-icon>
            <md-tooltip md-direction="top">Edit</md-tooltip>
          </md-button>
          <md-button class="md-just-icon md-simple md-danger" v-on:click="deleteRight(item.id)">
            <md-icon>close</md-icon>
            <md-tooltip md-direction="top">Delete</md-tooltip>
          </md-button>
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
import store from "@/store/";

export default {
  name: "rights-table",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  methods: {
    deleteRight(id){
      store.dispatch('deleteRightAction',id);
    },
    editRight(item){
      this.$emit("editRight",item);
    }
  }
};
</script>
