<template>
  <div>
    <md-table v-model="$store.state.roleModule.roles" table-header-color="green">
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Name">{{ item.name }}</md-table-cell>
        <md-table-cell md-label="Right Count">{{ item.rights.length }}</md-table-cell>
        <md-table-cell>
          <md-button class="md-just-icon md-simple md-primary" v-on:click="editRole(item.id)">
            <md-icon>edit</md-icon>
            <md-tooltip md-direction="top">Edit</md-tooltip>
          </md-button>
          <md-button class="md-just-icon md-simple md-danger" v-on:click="deleteRole(item.id)">
            <md-icon>close</md-icon>
            <md-tooltip md-direction="top">Delete</md-tooltip>
          </md-button>
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
import store from "@/store/";

export default {
  name: "roles-table",
  methods: {
    deleteRole(id){
      store.dispatch('deleteRoleAction',id);
    },
    editRole(id) {
      this.$router.push("/roleForm/true/"+id);
    }
  }
};
</script>
