<template>
  <div>
    <md-table v-model="$store.state.userModule.users" :table-header-color="tableHeaderColor">
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Name">{{ item.name }}</md-table-cell>
        <md-table-cell md-label="Surname">{{ item.surname }}</md-table-cell>
        <md-table-cell md-label="Email">{{ item.email }}</md-table-cell>
        <md-table-cell md-label="Phone Number">{{ item.phone }}</md-table-cell>
        <md-table-cell md-label="Role Count">{{ item.roles.length }}</md-table-cell>
        <md-table-cell>
          <md-button class="md-just-icon md-simple md-primary" v-on:click="editUser(item.id)">
            <md-icon>edit</md-icon>
            <md-tooltip md-direction="top" >Edit</md-tooltip>
          </md-button>
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
export default {
  name: "users-table",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      selected: []
    };
  },
   methods: {
    editUser(id) {
      this.$router.push("/userProfile/true/"+id);
    }
  }
};
</script>
