<template>
  <md-card-content class="md-layout">
    <md-card-content class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
      <form>
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">{{ !isEdit ? "New" : "Edit" }} User</h4>
            <p class="category">{{ !isEdit ? "Add New" : "Update" }} user profile</p>
          </md-card-header>

          <md-card-content>
            <div class="md-layout">
              <div class="md-layout-item md-small-size-100 md-size-50">
                <md-field>
                  <label>First Name</label>
                  <md-input v-model="user.name" type="text"></md-input>
                </md-field>
              </div>
              <div class="md-layout-item md-small-size-100 md-size-50">
                <md-field>
                  <label>Last Name</label>
                  <md-input v-model="user.surname" type="text"></md-input>
                </md-field>
              </div>
              <div class="md-layout-item md-small-size-100 md-size-100">
                <md-field>
                  <label>Email</label>
                  <md-input v-model="user.email" type="email"></md-input>
                </md-field>
              </div>
              <div class="md-layout-item md-small-size-100 md-size-100">
                <md-field>
                  <label>Phone Number</label>
                  <md-input v-model="user.phone" type="text"></md-input>
                </md-field>
              </div>
              <div class="md-layout-item md-small-size-100 md-size-100">
                <md-field>
                  <label>Roles</label>
                  <md-select v-model="user.roles" multiple>
                    <md-option v-bind:key="item.id" v-for="item in $store.getters.getRoles" :value="item.id">{{item.name}}</md-option>
                  </md-select>
                </md-field>
              </div>
              <div class="md-layout-item md-size-100 text-right">
                <md-button class="md-raised md-danger" to="/user">Cancel</md-button>
                <md-button class="padding md-raised md-success" v-on:click="commitUser">Save</md-button>
              </div>
            </div>
          </md-card-content>
        </md-card>
      </form>
    </md-card-content>
  </md-card-content>
</template>
<script>
import store from "@/store/";

export default {
  name: "edit-profile-form",

  data() {
    return {
      user:
        this.$route.params.isEdit == "true"
          ? store.getters.getUser(this.$route.params.userId)
          : {
              email: null,
              surname: null,
              name: null,
              phone: null,
              roles: []
            },
      isEdit: this.$route.params.isEdit == "true"
    };
  },
  methods: {
    commitUser() {
      store.dispatch(
        this.$route.params.isEdit == "true"
          ? "updateUserAction"
          : "addUserAction",
        this.user
      );
      this.$router.push("/user");
    },
    getRoles() {
      return store.getters.getRoles;
    }
  }
};
</script>
<style>
/*there is a problem with css class of md-select need to check deeply*/
  .md-ripple > span {
    left: 50px !important;
    top: 15px;
  }
</style>
