<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Rights Table</h4>
          </md-card-header>
          <md-card-content>
            <rights-table table-header-color="green" v-on:editRight = "editRight($event)"></rights-table>
          </md-card-content>
        </md-card>
      </div>
    </div>
    <form style="padding:0 15px">
      <md-card>
        <md-card-content>
          <div class="md-layout">
            <div class="md-layout-item md-small-size-100 md-size-50">
              <md-field>
                <label>Name</label>
                <md-input v-model="item.name" type="text"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-50 text-right">
              <md-button class="padding md-raised md-success" v-on:click="commitRight">Save</md-button>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </form>
  </div>
</template>

<script>
import { RightsTable } from "@/components";
import store from "@/store/";

export default {
  data() {
    return {
      item: {
        name: "",
        id: ""
      }
    };
  },
  methods: {
    commitRight() {
      if(this.item.id == "")
      store.dispatch( "addRightAction",
        this.item
      );
      this.item =  {
        name: "",
        id: ""
      };
    },
    editRight(item) {
      this.item = item;
      
    }
  },
  components: {
    RightsTable
  }
};
</script>
