<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Roles Table</h4>
            <p class="category">Here you can find roles table :)</p>
          </md-card-header>
          <md-card-content>
            <roles-table table-header-color="green"></roles-table>
          </md-card-content>
        </md-card>
      </div>
      <div class="md-layout-item md-size-100 text-right">
        <md-button class="md-raised md-success" to="/roleForm/false/0">Add New</md-button>
      </div>
    </div>
  </div>
</template>

<script>
import { RolesTable } from "@/components";

export default {
  components: {
    RolesTable
  }
};
</script>
