<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Users List</h4>
          </md-card-header>
          <md-card-content>
            <users-table></users-table>
          </md-card-content>
        </md-card>
      </div>
      <div class="md-layout-item md-size-100 text-right">
        <md-button class="md-raised md-success" to="/userProfile/false/0">Add New</md-button>
      </div>
    </div>
  </div>
</template>

<script>
import { EditProfileForm } from "@/pages";
import { UsersTable } from "@/components";

export default {
  components: {
    EditProfileForm,
    UsersTable
  },
  methods: {
  }
};
</script>
